
@media screen and (max-width:320px) {
    .header{
        display: inline-block;
        font-size:30px;
        font-weight:bold;
        color: aliceblue;
        width:600px;
        height:60px;
        padding-right:30px ;
    }
}
@media screen and (min-width:321px)and (max-width:1600px) {
    .header{
        font-size:45px;
        font-weight:bold;
        color: aliceblue;
        background-color:#7300e6;
        padding-right:30px ;
    }
}