@media screen and (max-width:320px) {
    .footer{
        position:fixed;
        bottom:0px;
        width:100%;
        font-weight:bold;
        color:white;
        font-size:27px;
    }
    }
    @media screen and (min-width:321px)and (max-width:1600px) {
        .footer{
            position:fixed;
            bottom:0px;
            width:100%;
            font-weight:bold;
            color:white;
            font-size:40px;
        }
    } 