.footer{
    position:fixed;
    bottom:0px;
    width:100%;
    font-weight:bold;
    color:white;
}
@media screen and (max-width:320px) {
    .footer{
        font-size:30px;
    }
    }
    @media screen and (min-width:321px)and (max-width:1600px) {
        .footer{
            font-size:40px;
        }
    } 